Node-RED/LDDS12.json
[
    {
        "id": "d5383a3f8346669f",
        "type": "mqtt in",
        "z": "2c5cfcbb8af0fd35",
        "name": "LDDS12",
        "topic": "v3/lsn50-485-001@ttn/devices/12test001/up",
        "qos": "0",
        "datatype": "json",
        "broker": "136ec0b135ce5d9c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "10250b1f75cc6abf",
                "673f923980b8a55c"
            ]
        ]
    },
    {
        "id": "10250b1f75cc6abf",
        "type": "function",
        "z": "2c5cfcbb8af0fd35",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"Bat\"]\nw2 = w[\"Lidar_distance\"]\nw3 = w[\"Lidar_signal\"]\nw4 = w[\"Lidar_temp\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q+\"\\n\"+\"Bat:\"+w1+\"\\n\"+\"Lidar_distance:\"+\"\\n\"+w2+\"\\n\"+\"Lidar_signal:\"+w3+\"\\n\"+\"Lidar_temp:\"+w4\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "6e6c5076afb8eabd"
            ]
        ]
    },
    {
        "id": "6e6c5076afb8eabd",
        "type": "file",
        "z": "2c5cfcbb8af0fd35",
        "name": "",
        "filename": "root1/ZIHAN/LDDS12.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 930,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "673f923980b8a55c",
        "type": "function",
        "z": "2c5cfcbb8af0fd35",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"Bat\"]\nw2 = w[\"Lidar_distance\"]\nw3 = w[\"Lidar_signal\"]\nw4 = w[\"Lidar_temp\"]\na1 ={payload:w1},a2 ={payload:w2},a5 ={payload:w3},a6 ={payload:w4},a3 ={payload:b},a4 ={payload:c}\nreturn [a1,a2,a5,a6,a3,a4];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 320,
        "wires": [
            [
                "45cc0a250b6abf53"
            ],
            [
                "ec7773daeb044973"
            ],
            [
                "379beb2097afd1ba"
            ],
            [
                "584901f63668aaf9"
            ],
            [
                "802e95f034df4208"
            ],
            [
                "ee7901281de57280"
            ]
        ]
    },
    {
        "id": "45cc0a250b6abf53",
        "type": "ui_chart",
        "z": "2c5cfcbb8af0fd35",
        "name": "BAT",
        "group": "8235b0c7f566fb14",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "BAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "10000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ec7773daeb044973",
        "type": "ui_chart",
        "z": "2c5cfcbb8af0fd35",
        "name": "Lidar_distance",
        "group": "395fcec5530d5527",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "Lidar_distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "802e95f034df4208",
        "type": "ui_chart",
        "z": "2c5cfcbb8af0fd35",
        "name": "F-PORT",
        "group": "5d46ab7ce8ab353c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "F-PORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ee7901281de57280",
        "type": "ui_chart",
        "z": "2c5cfcbb8af0fd35",
        "name": "F-COUNT",
        "group": "a787ac3319aa1505",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "F_COUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "379beb2097afd1ba",
        "type": "ui_chart",
        "z": "2c5cfcbb8af0fd35",
        "name": "Lidar_signal",
        "group": "d4a1e623fce6422b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Lidar_signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "584901f63668aaf9",
        "type": "ui_chart",
        "z": "2c5cfcbb8af0fd35",
        "name": "Lidar_temp",
        "group": "6220581fd07a1430",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Lidar_temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "136ec0b135ce5d9c",
        "type": "mqtt-broker",
        "name": "rs485",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8235b0c7f566fb14",
        "type": "ui_group",
        "name": "BAT",
        "tab": "ee76acd299ee1ebd",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "395fcec5530d5527",
        "type": "ui_group",
        "name": "Distance",
        "tab": "ee76acd299ee1ebd",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d46ab7ce8ab353c",
        "type": "ui_group",
        "name": "F-PORT",
        "tab": "ee76acd299ee1ebd",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a787ac3319aa1505",
        "type": "ui_group",
        "name": "F_COUNT",
        "tab": "ee76acd299ee1ebd",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4a1e623fce6422b",
        "type": "ui_group",
        "name": "Lidar_signal",
        "tab": "ee76acd299ee1ebd",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6220581fd07a1430",
        "type": "ui_group",
        "name": "Lidar_temp",
        "tab": "ee76acd299ee1ebd",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee76acd299ee1ebd",
        "type": "ui_tab",
        "name": "LDDS12",
        "icon": "LDDS12",
        "disabled": false,
        "hidden": false
    }
]