Node-RED/LDS0X.json
[
    {
        "id": "59dee54c0d55b1a2",
        "type": "mqtt in",
        "z": "6ccfa2b916a5bb86",
        "name": "LDS01-大门",
        "topic": "v3/ldws-001@ttn/devices/test001/up",
        "qos": "0",
        "datatype": "json",
        "broker": "fa163f2634aa73ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "d044d772f5dee0be",
                "4abefa531c2fffb7"
            ]
        ]
    },
    {
        "id": "d044d772f5dee0be",
        "type": "function",
        "z": "6ccfa2b916a5bb86",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"BAT_V\"]\nw2 = w[\"ALARM\"]\nw3 = w[\"DOOR_OPEN_STATUS\"]\nw4 = w[\"DOOR_OPEN_TIMES\"]\nw5 = w[\"LAST_DOOR_OPEN_DURATION\"]\nw6 = w[\"MOD\"]\na1 ={payload:b},a2 ={payload:c},a3 ={payload:w1},a4 ={payload:w2},a5 ={payload:w3},a6={payload:w4},a7={payload:w5},a8={payload:w6}\nreturn [a1,a2,a3,a4,a5,a6,a7,a8];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "d78cfd02cb4b6ed1"
            ],
            [
                "f6f8929dc0cb8a7b"
            ],
            [
                "3bab1d02c5a38ae5"
            ],
            [
                "d3aaf01fcf0ba67b"
            ],
            [
                "c94cd8b2572036c1"
            ],
            [
                "faa59fa6e92849b8"
            ],
            [
                "5d772aa2d534bdc5"
            ],
            [
                "9b90d5a2e9204e87"
            ]
        ]
    },
    {
        "id": "3bab1d02c5a38ae5",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Company door-BAT",
        "group": "631a12cdb2656f1a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Company door-BAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d78cfd02cb4b6ed1",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Company door-FPORT",
        "group": "cbd22c1338dec9e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Company door-FPORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f6f8929dc0cb8a7b",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Company door-COUNT",
        "group": "ac84727f08fd92e4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Company door-COUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d3aaf01fcf0ba67b",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Company door-ALARM",
        "group": "4aa447be6001fd1f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Company door-ALARM",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c94cd8b2572036c1",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Company door-DOOR_OPEN_STATUS",
        "group": "134345536795c03a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Company door-DOOR_OPEN_STATUS",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "faa59fa6e92849b8",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Company door-DOOR_OPEN_TIMES",
        "group": "cc993df744f11366",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Company door-DOOR_OPEN_TIMES",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5d772aa2d534bdc5",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Company door-LAST_DOOR_OPEN_DURATION",
        "group": "091a9df325e6d685",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Company door-LAST_DOOR_OPEN_DURATION",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9b90d5a2e9204e87",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Company door-MOD",
        "group": "a689da6a169731e0",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Company door-MOD",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4abefa531c2fffb7",
        "type": "function",
        "z": "6ccfa2b916a5bb86",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 40,
        "wires": [
            [
                "3e9154fedb51f594"
            ]
        ]
    },
    {
        "id": "3e9154fedb51f594",
        "type": "file",
        "z": "6ccfa2b916a5bb86",
        "name": "",
        "filename": "root1/luogong/LDS01-damen.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "fa163f2634aa73ea",
        "type": "mqtt-broker",
        "name": "LDWS",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "631a12cdb2656f1a",
        "type": "ui_group",
        "name": "Company door-BAT",
        "tab": "c4869cea862656ba",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbd22c1338dec9e8",
        "type": "ui_group",
        "name": "Company door-FPORT",
        "tab": "c4869cea862656ba",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac84727f08fd92e4",
        "type": "ui_group",
        "name": "Company door-COUNT",
        "tab": "c4869cea862656ba",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4aa447be6001fd1f",
        "type": "ui_group",
        "name": "Company door-ALARM",
        "tab": "c4869cea862656ba",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "134345536795c03a",
        "type": "ui_group",
        "name": "Company door-DOOR_OPEN_STATUS",
        "tab": "c4869cea862656ba",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc993df744f11366",
        "type": "ui_group",
        "name": "Company door-DOOR_OPEN_TIMES",
        "tab": "c4869cea862656ba",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "091a9df325e6d685",
        "type": "ui_group",
        "name": "Company door-LAST_DOOR_OPEN_DURATION",
        "tab": "c4869cea862656ba",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a689da6a169731e0",
        "type": "ui_group",
        "name": "Company door-MOD",
        "tab": "c4869cea862656ba",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4869cea862656ba",
        "type": "ui_tab",
        "name": "LDWS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]