Node-RED/LDS03A.json
[
    {
        "id": "5d52846c19df05a9",
        "type": "mqtt in",
        "z": "605e44c8b3b73da8",
        "name": "LDS03A",
        "topic": "v3/ln50-001@ttn/devices/test003/up",
        "qos": "0",
        "datatype": "json",
        "broker": "3312cc876e0629fe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "2135dfdb47c2eb15",
                "afcbbc094f77cab7",
                "5220b75170130b13"
            ]
        ]
    },
    {
        "id": "2135dfdb47c2eb15",
        "type": "function",
        "z": "605e44c8b3b73da8",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nif(b==2){\nw2 = w[\"ALARM\"]\nvalue = w2\nif(value==\"TRUE\")\n    w2 = 1\nif(value==\"FALSE\")\n    w2 = 0\nw3 = w[\"DOOR_OPEN_STATUS\"]\nvalue = w3\nif(value==\"OPEN\")\n    w3 = 1\nif(value==\"CLOSE\")\n    w3 = 0\nw4 = w[\"DOOR_OPEN_TIMES\"]\nw5 = w[\"LAST_DOOR_OPEN_DURATION\"]\na1 ={payload:b},a2 ={payload:c},a4 ={payload:w2},a5 ={payload:w3},a6={payload:w4},a7={payload:w5}\nreturn [a1,a2,a4,a5,a6,a7];\n}\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 580,
        "wires": [
            [
                "f3b30c201b2aae44"
            ],
            [
                "b24c242031f381e4"
            ],
            [
                "4fe4f95cf785baea"
            ],
            [
                "4c873149e787f596"
            ],
            [
                "e7622d9bcd8f3365"
            ],
            [
                "946ee1da779dd850"
            ]
        ]
    },
    {
        "id": "afcbbc094f77cab7",
        "type": "function",
        "z": "605e44c8b3b73da8",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nif(b==5){\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"BAT\"]\na1 ={payload:b},a2={payload:c},a3={payload:w1}\nreturn [a1,a2,a3]\n}\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 880,
        "wires": [
            [
                "f3b30c201b2aae44"
            ],
            [
                "b24c242031f381e4"
            ],
            [
                "07b47ba9701bbde2"
            ]
        ]
    },
    {
        "id": "f3b30c201b2aae44",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "F-PORT",
        "group": "305a57d2a231abbd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "F-PORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b24c242031f381e4",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "F-COUNT",
        "group": "105abfae2d3b070f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "F-COUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "4fe4f95cf785baea",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "ALARM",
        "group": "f40b1ffd71c3a00d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "ALARM",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "4c873149e787f596",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "DOOR_OPEN_STATUS",
        "group": "3d34de04baf87d57",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "DOOR_OPEN_STATUS",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "e7622d9bcd8f3365",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "DOOR_OPEN_TIMES",
        "group": "dbcd2a47f4bce04d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "DOOR_OPEN_TIMES",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "946ee1da779dd850",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "LAST_DOOR_OPEN_DURATION",
        "group": "305a57d2a231abbd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "LAST_DOOR_OPEN_DURATION",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "07b47ba9701bbde2",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "BAT",
        "group": "9957ad24d1963a6d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "BAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "5220b75170130b13",
        "type": "function",
        "z": "605e44c8b3b73da8",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 480,
        "wires": [
            [
                "65353c91e0b31a3c"
            ]
        ]
    },
    {
        "id": "65353c91e0b31a3c",
        "type": "file",
        "z": "605e44c8b3b73da8",
        "name": "",
        "filename": "root1/xiaolin/LDS03A.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 510,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3312cc876e0629fe",
        "type": "mqtt-broker",
        "name": "LSN50-V2-D20-S31-LDS03A",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "305a57d2a231abbd",
        "type": "ui_group",
        "name": "LAST_DOOR_OPEN_DURATION",
        "tab": "e9df2e90af1fd74f",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "105abfae2d3b070f",
        "type": "ui_group",
        "name": "F-COUNT",
        "tab": "e9df2e90af1fd74f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f40b1ffd71c3a00d",
        "type": "ui_group",
        "name": "ALARM",
        "tab": "e9df2e90af1fd74f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d34de04baf87d57",
        "type": "ui_group",
        "name": "DOOR_OPEN_STATUS",
        "tab": "e9df2e90af1fd74f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dbcd2a47f4bce04d",
        "type": "ui_group",
        "name": "DOOR_OPEN_TIMES",
        "tab": "e9df2e90af1fd74f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9957ad24d1963a6d",
        "type": "ui_group",
        "name": "BAT",
        "tab": "e9df2e90af1fd74f",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e9df2e90af1fd74f",
        "type": "ui_tab",
        "name": "LDAS03A",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]