Node-RED/LHT65.json
[
    {
        "id": "3c6b5afb038942a9",
        "type": "mqtt in",
        "z": "05eda826b66c6bc4",
        "name": "LHT65-冰箱-EU868",
        "topic": "v3/lht65-001@ttn/devices/test001/up",
        "qos": "0",
        "datatype": "json",
        "broker": "46b7f42f9d7f2ea9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "4ea290a3920d1741",
                "26ba98b1b6d33a7c"
            ]
        ]
    },
    {
        "id": "4ea290a3920d1741",
        "type": "function",
        "z": "05eda826b66c6bc4",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"BatV\"]\nw2 = w[\"Hum_SHT\"]\nw3 = w[\"TempC_DS\"]\nw4 = w[\"TempC_SHT\"]\na1 ={payload:w1},a2 ={payload:w2},a3 ={payload:b},a4 ={payload:c},a5 ={payload:w3},a6 ={payload:w4}\nreturn [a3,a4,a1,a2,a5,a6];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 400,
        "wires": [
            [
                "d1dbf93464bcea34"
            ],
            [
                "70e2daa3530b799e"
            ],
            [
                "e88fb570ed3998f0"
            ],
            [
                "4463dc54e7680880"
            ],
            [
                "0da35d977e39aa98"
            ],
            [
                "73527520736a4ee9"
            ]
        ]
    },
    {
        "id": "d1dbf93464bcea34",
        "type": "ui_chart",
        "z": "05eda826b66c6bc4",
        "name": "Fridge-EU868-PORT",
        "group": "dcef558e4dc7c987",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Fridge-EU868-PORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "70e2daa3530b799e",
        "type": "ui_chart",
        "z": "05eda826b66c6bc4",
        "name": "Fridge-EU868-COUNT",
        "group": "522ff3eb546cac62",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Fridge-EU868-COUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e88fb570ed3998f0",
        "type": "ui_chart",
        "z": "05eda826b66c6bc4",
        "name": "Fridge-EU868-BAT",
        "group": "744dabcc967e5f91",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Fridge-EU868-BAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4463dc54e7680880",
        "type": "ui_chart",
        "z": "05eda826b66c6bc4",
        "name": "Fridge-EU868-HUM_SHT",
        "group": "aa3d2347cf3b75fd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Fridge-EU868-HUM_SHT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0da35d977e39aa98",
        "type": "ui_chart",
        "z": "05eda826b66c6bc4",
        "name": "Fridge-EU868-TempC_DS",
        "group": "7d57893e44197d58",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Fridge-EU868-TempC_DS",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "73527520736a4ee9",
        "type": "ui_chart",
        "z": "05eda826b66c6bc4",
        "name": "Fridge-EU868-TempC_SHT",
        "group": "cf5431c6f32fbeae",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Fridge-EU868-TempC_SHT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "87069f6cc1d5c364",
        "type": "file",
        "z": "05eda826b66c6bc4",
        "name": "",
        "filename": "root1/luogong/LHT65-bingxiang868.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 630,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "26ba98b1b6d33a7c",
        "type": "function",
        "z": "05eda826b66c6bc4",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "87069f6cc1d5c364"
            ]
        ]
    },
    {
        "id": "46b7f42f9d7f2ea9",
        "type": "mqtt-broker",
        "name": "LHT65",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dcef558e4dc7c987",
        "type": "ui_group",
        "name": "Fridge-EU868-PORT",
        "tab": "4a3b806085cf4456",
        "order": 13,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "522ff3eb546cac62",
        "type": "ui_group",
        "name": "Fridge-EU868-COUNT",
        "tab": "4a3b806085cf4456",
        "order": 14,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "744dabcc967e5f91",
        "type": "ui_group",
        "name": "Fridge-EU868-BAT",
        "tab": "4a3b806085cf4456",
        "order": 15,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa3d2347cf3b75fd",
        "type": "ui_group",
        "name": "Fridge-EU868-HUM_SHT",
        "tab": "4a3b806085cf4456",
        "order": 16,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d57893e44197d58",
        "type": "ui_group",
        "name": "Fridge-EU868-TempC_DS",
        "tab": "4a3b806085cf4456",
        "order": 17,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf5431c6f32fbeae",
        "type": "ui_group",
        "name": "Fridge-EU868-TempC_SHT",
        "tab": "4a3b806085cf4456",
        "order": 18,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a3b806085cf4456",
        "type": "ui_tab",
        "name": "LHT65",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]