Node-RED/LLMS01.json
[
    {
        "id": "002062e01562a985",
        "type": "mqtt in",
        "z": "25ba2fabc5a6e2cc",
        "name": "LLMS1",
        "topic": "v3/lsn50-485-001@ttn/devices/test001/up",
        "qos": "0",
        "datatype": "json",
        "broker": "d5d53467861f1927",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "941d9ca50154658c",
                "367d7ff17a15ecae"
            ]
        ]
    },
    {
        "id": "941d9ca50154658c",
        "type": "function",
        "z": "25ba2fabc5a6e2cc",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"Bat\"]\nw2 = w[\"Leaf_Moisture\"]\nw3 = w[\"Leaf_Temperature\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q+\"\\n\"+\"Bat:\"+w1+\"\\n\"+\"Leaf_Moisture:\"+w2+\"\\n\"+w3\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 260,
        "wires": [
            [
                "3a35d0cbfc57e2ea"
            ]
        ]
    },
    {
        "id": "3a35d0cbfc57e2ea",
        "type": "file",
        "z": "25ba2fabc5a6e2cc",
        "name": "",
        "filename": "root1/ZIHAN/LLMS01.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 950,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "367d7ff17a15ecae",
        "type": "function",
        "z": "25ba2fabc5a6e2cc",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"Bat\"]\nw2 = w[\"Leaf_Moisture\"]\nw3 = w[\"Leaf_Temperature\"]\na1 ={payload:w1},a2 ={payload:w2},a5={payload:w3},a3={payload:b},a4={payload:c}\nreturn [a1,a2,a5,a3,a4];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "d0a6376c43f4916d"
            ],
            [
                "cfd028fed4633956"
            ],
            [
                "0f11dc19235c5a56"
            ],
            [
                "a2eee103111f38a7"
            ],
            [
                "36af95ecb476bddc"
            ]
        ]
    },
    {
        "id": "d0a6376c43f4916d",
        "type": "ui_chart",
        "z": "25ba2fabc5a6e2cc",
        "name": "BAT",
        "group": "bb8c343dee20bb3a",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "BAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "10000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cfd028fed4633956",
        "type": "ui_chart",
        "z": "25ba2fabc5a6e2cc",
        "name": "Leaf_Moisture",
        "group": "5ffcd049570f6e7a",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "Leaf_Moisture",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a2eee103111f38a7",
        "type": "ui_chart",
        "z": "25ba2fabc5a6e2cc",
        "name": "F-PORT",
        "group": "9d5f1f988eb142d1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "F-PORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "36af95ecb476bddc",
        "type": "ui_chart",
        "z": "25ba2fabc5a6e2cc",
        "name": "F-COUNT",
        "group": "4370bac76e3ee23e",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "F_COUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0f11dc19235c5a56",
        "type": "ui_chart",
        "z": "25ba2fabc5a6e2cc",
        "name": "Leaf_Temperature",
        "group": "523a211f3cc8e014",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Leaf_Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d5d53467861f1927",
        "type": "mqtt-broker",
        "name": "rs485",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bb8c343dee20bb3a",
        "type": "ui_group",
        "name": "BAT",
        "tab": "ee76acd299ee1ebd",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ffcd049570f6e7a",
        "type": "ui_group",
        "name": "Leaf_Moisture",
        "tab": "ee76acd299ee1ebd",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d5f1f988eb142d1",
        "type": "ui_group",
        "name": "F-PORT",
        "tab": "ee76acd299ee1ebd",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4370bac76e3ee23e",
        "type": "ui_group",
        "name": "F_COUNT",
        "tab": "ee76acd299ee1ebd",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "523a211f3cc8e014",
        "type": "ui_group",
        "name": "Leaf_Temperature",
        "tab": "ee76acd299ee1ebd",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee76acd299ee1ebd",
        "type": "ui_tab",
        "name": "LLMS01",
        "icon": "LLMS01",
        "disabled": false,
        "hidden": false
    }
]