Node-RED/LSE01.json
[
    {
        "id": "03d34439d8c5bd0e",
        "type": "mqtt in",
        "z": "445b87fe1191f5c2",
        "name": "LSE01",
        "topic": "v3/lsn50-485-001@ttn/devices/lse01test001/up",
        "qos": "0",
        "datatype": "json",
        "broker": "08988bdc7c9838d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "516cee7ff6066ae7",
                "e71ce6bf6bd5a3ad"
            ]
        ]
    },
    {
        "id": "516cee7ff6066ae7",
        "type": "function",
        "z": "445b87fe1191f5c2",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"Bat\"]\nw2 = w[\"conduct_SOIL\"]\nw3 = w[\"temp_SOIL\"]\nw4 = w[\"water_SOIL\"]\na1 ={payload:w1},a2 ={payload:w2},a3 ={payload:b},a4 ={payload:c},a5 ={payload:w3},a6 ={payload:w4}\nreturn [a3,a4,a1,a2,a5,a6];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 420,
        "wires": [
            [
                "809f151eb40cd996"
            ],
            [
                "c08471c9e3ae016f"
            ],
            [
                "a118e03afcec9e27"
            ],
            [
                "927c406e343ff891"
            ],
            [
                "f59e8f3e2e27984e"
            ],
            [
                "3e3b0a43148a2269"
            ]
        ]
    },
    {
        "id": "a118e03afcec9e27",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "BAT",
        "group": "2831973ef91c6393",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "BAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "809f151eb40cd996",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "F-PORT",
        "group": "c829cc1e45490096",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "F-PORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c08471c9e3ae016f",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "F-COUNT",
        "group": "4726642a93806d62",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "F-COUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "927c406e343ff891",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "Conduct_SOIL",
        "group": "7ab898f2a1dea244",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Conduct_SOIL",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f59e8f3e2e27984e",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "temp_SOIL",
        "group": "270fd0cacf0810c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "temp_SOIL",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "3e3b0a43148a2269",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "water_SOIL",
        "group": "f46538a9cc6c11fa",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "water_SOIL",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e71ce6bf6bd5a3ad",
        "type": "function",
        "z": "445b87fe1191f5c2",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"Bat\"]\nw2 = w[\"conduct_SOIL\"]\nw3 = w[\"temp_SOIL\"]\nw4 = w[\"water_SOIL\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q+\"\\n\"+\"Bat:\"+w1+\"\\n\"+\"conduct_SOIL:\"+w2+\"\\n\"+\"temp_SOIL:\"+w3+\"\\n\"+\"water_SOIL:\"+w4\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "bbe4a69368e0ad40"
            ]
        ]
    },
    {
        "id": "bbe4a69368e0ad40",
        "type": "file",
        "z": "445b87fe1191f5c2",
        "name": "",
        "filename": "root1/ZIHAN/LSE01.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 520,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "08988bdc7c9838d8",
        "type": "mqtt-broker",
        "name": "rs485",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2831973ef91c6393",
        "type": "ui_group",
        "name": "BAT",
        "tab": "fdb4448e0c734636",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c829cc1e45490096",
        "type": "ui_group",
        "name": "F-PORT",
        "tab": "fdb4448e0c734636",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4726642a93806d62",
        "type": "ui_group",
        "name": "F-COUNT",
        "tab": "fdb4448e0c734636",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ab898f2a1dea244",
        "type": "ui_group",
        "name": "Conduct_SOIL",
        "tab": "fdb4448e0c734636",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "270fd0cacf0810c3",
        "type": "ui_group",
        "name": "temp_SOIL",
        "tab": "fdb4448e0c734636",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f46538a9cc6c11fa",
        "type": "ui_group",
        "name": "water_SOIL",
        "tab": "fdb4448e0c734636",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fdb4448e0c734636",
        "type": "ui_tab",
        "name": "LSE01",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]