Node-RED/LSN50-V2-S31.json
[
    {
        "id": "f19a314a7fc9b650",
        "type": "mqtt in",
        "z": "605e44c8b3b73da8",
        "name": "LSN20-V2-S31",
        "topic": "v3/ln50-001@ttn/devices/test002/up",
        "qos": "0",
        "datatype": "json",
        "broker": "3312cc876e0629fe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "9b90efcf0cc92d49",
                "356dbdf4ca5b70ba"
            ]
        ]
    },
    {
        "id": "9b90efcf0cc92d49",
        "type": "function",
        "z": "605e44c8b3b73da8",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"BatV\"]\nw2 = w[\"Hum_SHT\"]\nw3 = w[\"TempC_SHT\"]\na1 ={payload:b},a2 ={payload:c},a3 ={payload:w1},a4 ={payload:w2},a5 ={payload:w3}\nreturn [a1,a2,a3,a4,a5];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "3e43a33f74ee654e"
            ],
            [
                "1b485b0cd5db528d"
            ],
            [
                "393fc21dda80ea13"
            ],
            [
                "f8875bda1e837750"
            ],
            [
                "7427145bc6feabf8"
            ]
        ]
    },
    {
        "id": "3e43a33f74ee654e",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "F-PORT",
        "group": "866fc06e49e8a6a1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "F-PORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1b485b0cd5db528d",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "F-COUNT",
        "group": "7a784322bbccd5b3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "F-COUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "393fc21dda80ea13",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "BAT",
        "group": "3a10462266f40e2e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "BAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f8875bda1e837750",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "Hum_SHT",
        "group": "d3cdca1683dea67d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Hum_SHT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7427145bc6feabf8",
        "type": "ui_chart",
        "z": "605e44c8b3b73da8",
        "name": "TempC_SHT",
        "group": "86550ea0594f423a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "TempC_SHT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0a88e7d931af6e24",
        "type": "file",
        "z": "605e44c8b3b73da8",
        "name": "",
        "filename": "root1/xiaolin/S31.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 550,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "356dbdf4ca5b70ba",
        "type": "function",
        "z": "605e44c8b3b73da8",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"BatV\"]\nw2 = w[\"Hum_SHT\"]\nw3 = w[\"TempC_SHT\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q+\"\\n\"+\"BatV:\"+w1+\"\\n\"+\"Hum_SHT:\"+w2+\"TempC_SHT:\"+w3\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "0a88e7d931af6e24"
            ]
        ]
    },
    {
        "id": "3312cc876e0629fe",
        "type": "mqtt-broker",
        "name": "LSN50-V2-D20-S31-LDS03A",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "866fc06e49e8a6a1",
        "type": "ui_group",
        "name": "F-PORT",
        "tab": "0db19e3de68ab995",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a784322bbccd5b3",
        "type": "ui_group",
        "name": "F-COUNT",
        "tab": "0db19e3de68ab995",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a10462266f40e2e",
        "type": "ui_group",
        "name": "BAT",
        "tab": "0db19e3de68ab995",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3cdca1683dea67d",
        "type": "ui_group",
        "name": "Hum_SHT",
        "tab": "0db19e3de68ab995",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86550ea0594f423a",
        "type": "ui_group",
        "name": "TempC_SHT",
        "tab": "0db19e3de68ab995",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0db19e3de68ab995",
        "type": "ui_tab",
        "name": "LSN20-V2-S31",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]