Node-RED/LSPH01.json
[
    {
        "id": "51146314795f793b",
        "type": "mqtt in",
        "z": "445b87fe1191f5c2",
        "name": "LSPH01",
        "topic": "v3/lsn50-485-001@ttn/devices/test006/up",
        "qos": "0",
        "datatype": "json",
        "broker": "08988bdc7c9838d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 640,
        "wires": [
            [
                "dded7ac77d23299c",
                "5a2912303b6014b8"
            ]
        ]
    },
    {
        "id": "dded7ac77d23299c",
        "type": "function",
        "z": "445b87fe1191f5c2",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"Bat\"]\nw2 = w[\"PH1_SOIL\"]\nw3 = w[\"TEMP_SOIL\"]\na1 ={payload:w1},a2 ={payload:w2},a3 ={payload:b},a4 ={payload:c},a5 ={payload:w3}\nreturn [a3,a4,a1,a2,a5];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 640,
        "wires": [
            [
                "2644c6fbf4fccfcf"
            ],
            [
                "2612adee87c921d4"
            ],
            [
                "94393e7f31ac678d"
            ],
            [
                "ff44ff60e745dddb"
            ],
            [
                "2ef46271363129e9"
            ]
        ]
    },
    {
        "id": "2644c6fbf4fccfcf",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "F-PORT",
        "group": "e08c17356e054b37",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "F-PORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "2612adee87c921d4",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "F-COUNT",
        "group": "044d1df2e9a42b26",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "F-COUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "94393e7f31ac678d",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "BAT",
        "group": "166178b8f8bf63d6",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "BAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ff44ff60e745dddb",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "PH1_SOIL",
        "group": "50663896d152c2d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "PH1_SOIL",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "2ef46271363129e9",
        "type": "ui_chart",
        "z": "445b87fe1191f5c2",
        "name": "TEMP_SOIL",
        "group": "79a12a262ce71d5b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "TEMP_SOIL",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "5a2912303b6014b8",
        "type": "function",
        "z": "445b87fe1191f5c2",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"Bat\"]\nw2 = w[\"PH1_SOIL\"]\nw3 = w[\"TEMP_SOIL\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q+\"\\n\"+\"Bat:\"+w1+\"\\n\"+\"PH1_SOIL:\"+w2+\"\\n\"+\"TEMP_SOIL:\"+w3\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 560,
        "wires": [
            [
                "50c22ad63326252a"
            ]
        ]
    },
    {
        "id": "50c22ad63326252a",
        "type": "file",
        "z": "445b87fe1191f5c2",
        "name": "",
        "filename": "root1/ZIHAN/LSPH01.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 510,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "08988bdc7c9838d8",
        "type": "mqtt-broker",
        "name": "rs485",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e08c17356e054b37",
        "type": "ui_group",
        "name": "LSPH01",
        "tab": "daaf32429843c436",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "044d1df2e9a42b26",
        "type": "ui_group",
        "name": "F-COUNT",
        "tab": "daaf32429843c436",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "166178b8f8bf63d6",
        "type": "ui_group",
        "name": "BAT",
        "tab": "daaf32429843c436",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "50663896d152c2d8",
        "type": "ui_group",
        "name": "PH1_SOIL",
        "tab": "daaf32429843c436",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79a12a262ce71d5b",
        "type": "ui_group",
        "name": "TEMP_SOIL",
        "tab": "daaf32429843c436",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "daaf32429843c436",
        "type": "ui_tab",
        "name": "LSPH01",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]