Node-RED/LTC2.json
[
    {
        "id": "373a7f59040fba35",
        "type": "mqtt in",
        "z": "a8bb6bffa0f6b5dc",
        "name": "LCT2-NO3",
        "topic": "v3/ltc2001@ttn/devices/test003/up",
        "qos": "0",
        "datatype": "json",
        "broker": "a18203675a0d960c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 220,
        "wires": [
            [
                "5ee16347811d6b77",
                "a608884e8c8d4a08"
            ]
        ]
    },
    {
        "id": "5ee16347811d6b77",
        "type": "function",
        "z": "a8bb6bffa0f6b5dc",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"BatV\"]\nw2 = w[\"Temp_Channel1\"]\nw3 = w[\"Temp_Channel2\"]\na1 ={payload:b},a2 ={payload:c},a3 ={payload:w1},a4 ={payload:w2},a5 ={payload:w3}\nreturn [a1,a2,a3,a4,a5];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 200,
        "wires": [
            [
                "31af0b734e7c7a73"
            ],
            [
                "d1cf4c7c455ab398"
            ],
            [
                "4c53667ed8508bd6"
            ],
            [
                "bdd75776c66fae0d"
            ],
            [
                "5d30b5b09e890f7c"
            ]
        ]
    },
    {
        "id": "a608884e8c8d4a08",
        "type": "function",
        "z": "a8bb6bffa0f6b5dc",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"BatV\"]\nw2 = w[\"Temp_Channel1\"]\nw3 = w[\"Temp_Channel2\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q+\"\\n\"+\"BatV:\"+w1+\"\\n\"+\"Temp_Channel1:\"+w2+\"\\n\"+\"Temp_Channel2:\"+w3\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "4a9de22a2e4e0663"
            ]
        ]
    },
    {
        "id": "4a9de22a2e4e0663",
        "type": "file",
        "z": "a8bb6bffa0f6b5dc",
        "name": "",
        "filename": "root1/luogong/LCT2-3.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 610,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4c53667ed8508bd6",
        "type": "ui_chart",
        "z": "a8bb6bffa0f6b5dc",
        "name": "LTC2-3-BAT",
        "group": "0839bcb43c409f50",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "LTC2-3-BAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "31af0b734e7c7a73",
        "type": "ui_chart",
        "z": "a8bb6bffa0f6b5dc",
        "name": "LTC2-3-FPORT",
        "group": "4ddd84a4461a1947",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "LTC2-3-FPORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d1cf4c7c455ab398",
        "type": "ui_chart",
        "z": "a8bb6bffa0f6b5dc",
        "name": "LTC2-3-FCOUNT",
        "group": "8eb824c3e9e4530a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "LTC2-3-FCOUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "bdd75776c66fae0d",
        "type": "ui_chart",
        "z": "a8bb6bffa0f6b5dc",
        "name": "LTC2-3-Temp_Channel1",
        "group": "8aecaec54d60341f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "LTC2-3-Temp_Channel1",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5d30b5b09e890f7c",
        "type": "ui_chart",
        "z": "a8bb6bffa0f6b5dc",
        "name": "LTC2-3-Temp_Channel2",
        "group": "243fc660bf654906",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "LTC2-3-Temp_Channel2",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a18203675a0d960c",
        "type": "mqtt-broker",
        "name": "LCT2",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0839bcb43c409f50",
        "type": "ui_group",
        "name": "LTC2-3-BAT",
        "tab": "dc3f6481a1c172be",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ddd84a4461a1947",
        "type": "ui_group",
        "name": "LTC2-3-FPORT",
        "tab": "dc3f6481a1c172be",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8eb824c3e9e4530a",
        "type": "ui_group",
        "name": "LTC2-3-FCOUNT",
        "tab": "dc3f6481a1c172be",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8aecaec54d60341f",
        "type": "ui_group",
        "name": "LTC2-3-Temp_Channel1",
        "tab": "dc3f6481a1c172be",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "243fc660bf654906",
        "type": "ui_group",
        "name": "LTC2-3-Temp_Channel2",
        "tab": "dc3f6481a1c172be",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc3f6481a1c172be",
        "type": "ui_tab",
        "name": "LTC2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]