Node-RED/LWL0X.json
[
    {
        "id": "7c7ae901d3c4178f",
        "type": "mqtt in",
        "z": "6ccfa2b916a5bb86",
        "name": "LWL02",
        "topic": "v3/ldws-001@ttn/devices/we5415/up",
        "qos": "0",
        "datatype": "json",
        "broker": "fa163f2634aa73ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 800,
        "wires": [
            [
                "760fa9684bb2af76",
                "3f0f0b59f02ca114"
            ]
        ]
    },
    {
        "id": "760fa9684bb2af76",
        "type": "function",
        "z": "6ccfa2b916a5bb86",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nw = a[\"decoded_payload\"]\nw1 = w[\"BAT_V\"]\nw3 = w[\"WATER_LEAK_STATUS\"]\nw4 = w[\"WATER_LEAK_TIMES\"]\nw5 = w[\"LAST_WATER_LEAK_DURATION\"]\nw6 = w[\"MOD\"]\na1 ={payload:b},a2 ={payload:c},a3 ={payload:w1},a5 ={payload:w3},a6={payload:w4},a7={payload:w5},a8={payload:w6}\nreturn [a1,a2,a3,a5,a6,a7,a8];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 840,
        "wires": [
            [
                "13a212708a0e9c2c"
            ],
            [
                "8256b081577ee9ae"
            ],
            [
                "cccd948d9ac8a700"
            ],
            [
                "2fb583d25ee8baa2"
            ],
            [
                "0c41e70acf7ba800"
            ],
            [
                "e9817d6e88a34a87"
            ],
            [
                "4ede33ce437bbc28"
            ]
        ]
    },
    {
        "id": "3f0f0b59f02ca114",
        "type": "function",
        "z": "6ccfa2b916a5bb86",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 740,
        "wires": [
            [
                "d69f33db0b1b3596"
            ]
        ]
    },
    {
        "id": "d69f33db0b1b3596",
        "type": "file",
        "z": "6ccfa2b916a5bb86",
        "name": "",
        "filename": "root1/luogong/LWL01-cesuo.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 710,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "13a212708a0e9c2c",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Toilet-FPORT",
        "group": "4092c9d3f470407d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Toilet-FPORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "8256b081577ee9ae",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Toilet-COUNT",
        "group": "410aa7e39dc71b59",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Toilet-COUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "cccd948d9ac8a700",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Toilet-BAT",
        "group": "4f159a634e7a79ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Toilet-BAT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2fb583d25ee8baa2",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Toilet-WATER_LEAK_STATUS",
        "group": "d4563070a9145791",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Toilet-WATER_LEAK_STATUS",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "0c41e70acf7ba800",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Toilet-WATER_LEAK_TIMES",
        "group": "3099ca2a2bac7d41",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Toilet-WATER_LEAK_TIMES",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e9817d6e88a34a87",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Toilet-LAST_WATER_LEAK_DURATION",
        "group": "9f926598e9f37762",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Toilet-LAST_WATER_LEAK_DURATION",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "4ede33ce437bbc28",
        "type": "ui_chart",
        "z": "6ccfa2b916a5bb86",
        "name": "Toilet-MOD",
        "group": "25f331bf1367af9f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Toilet-MOD",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "fa163f2634aa73ea",
        "type": "mqtt-broker",
        "name": "LDWS",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4092c9d3f470407d",
        "type": "ui_group",
        "name": "Toilet-FPORT",
        "tab": "c4869cea862656ba",
        "order": 25,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "410aa7e39dc71b59",
        "type": "ui_group",
        "name": "Toilet-COUNT",
        "tab": "c4869cea862656ba",
        "order": 26,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f159a634e7a79ce",
        "type": "ui_group",
        "name": "Toilet-BAT",
        "tab": "c4869cea862656ba",
        "order": 27,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4563070a9145791",
        "type": "ui_group",
        "name": "Toilet-WATER_LEAK_STATUS",
        "tab": "c4869cea862656ba",
        "order": 28,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3099ca2a2bac7d41",
        "type": "ui_group",
        "name": "Toilet-WATER_LEAK_TIMES",
        "tab": "c4869cea862656ba",
        "order": 29,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f926598e9f37762",
        "type": "ui_group",
        "name": "Toilet-LAST_WATER_LEAK_DURATION",
        "tab": "c4869cea862656ba",
        "order": 30,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25f331bf1367af9f",
        "type": "ui_group",
        "name": "Toilet-MOD",
        "tab": "c4869cea862656ba",
        "order": 31,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4869cea862656ba",
        "type": "ui_tab",
        "name": "LDWS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]