Node-RED/WSC1-L.json
[
    {
        "id": "19bc8329751171b8",
        "type": "mqtt in",
        "z": "458092809af59117",
        "name": "气象站",
        "topic": "v3/lhr00@ttn/devices/eui-0000000042315698/up",
        "qos": "0",
        "datatype": "json",
        "broker": "d012949bab417f5b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "02f9232b2092cffa",
                "a651edeaaa7d35cd"
            ]
        ]
    },
    {
        "id": "e42094efedc50ca5",
        "type": "file",
        "z": "458092809af59117",
        "name": "",
        "filename": "root1/ZIHAN/qixiangzhan.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 700,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "02f9232b2092cffa",
        "type": "function",
        "z": "458092809af59117",
        "name": "",
        "func": "var a1 = new Date() \nvar a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nq = a[\"frm_payload\"]\nd = a1.toLocaleString()+\"\\n\"+\"f_port:\"+b+\"\\n\"+\"f_cnt:\"+c+\"\\n\"+\"frm_payload:\"+q\na1 = {payload:d}\nreturn a1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 60,
        "wires": [
            [
                "e42094efedc50ca5"
            ]
        ]
    },
    {
        "id": "a651edeaaa7d35cd",
        "type": "function",
        "z": "458092809af59117",
        "name": "",
        "func": "var a = msg.payload[\"uplink_message\"]\nb = a[\"f_port\"]\nc = a[\"f_cnt\"]\nW = a[\"decoded_payload\"]\nW1 = W[\"A2\"]\nW2 = W[\"CO2\"]\nW3 = W[\"HUM\"]\nW4 = W[\"PAR\"]\nW5 = W[\"PM10\"]\nW6 = W[\"PM2_5\"]\nW7 = W[\"TEM\"]\nW8 = W[\"TSR\"]\nW9 = W[\"illumination\"]\nW10 = W[\"pressure\"]\nW11 = W[\"rain_gauge\"]\nW12 = W[\"rain_snow\"]\nW13 = W[\"wind_direction\"]\nW14 = W[\"wind_direction_angle\"]\nW15 = W[\"wind_speed\"]\nW16 = W[\"wind_speed_level\"]\na1 ={payload:b},a2 ={payload:c},a3 ={payload:W1},a4 ={payload:W2},a5 ={payload:W3},a6 ={payload:W4},\na7 ={payload:W5},a8 ={payload:W6},a9 ={payload:W7},a10 ={payload:W8},a11 ={payload:W9},a12 ={payload:W10},\na13 ={payload:W11},a14 ={payload:W12},a15 ={payload:W13},a16 ={payload:W14},a17 ={payload:W15},a18 = {payload:W16}\nreturn [a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17,a18];",
        "outputs": 18,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "ee729b7ea0d2aec7"
            ],
            [
                "2f5f9091b72c3925"
            ],
            [],
            [
                "aa3c572db7147a70"
            ],
            [
                "e1963f29efe3a781"
            ],
            [
                "e9619db4f5d4577c"
            ],
            [
                "f362bf176c1d187e"
            ],
            [
                "4ee3da1bc83f73c4"
            ],
            [
                "6864ebddd04d1e08"
            ],
            [
                "bbd956d00ba83ac6"
            ],
            [
                "462f3a22945b1d68"
            ],
            [
                "c346677a419150ac"
            ],
            [
                "119b3c81ec14fc25"
            ],
            [
                "8bf0cc967f23cc4e"
            ],
            [
                "9c81963df3477029"
            ],
            [
                "d81053d8f3392afc"
            ],
            [
                "7995dcc63f12a435"
            ],
            [
                "f78257ba6c9895cc"
            ]
        ]
    },
    {
        "id": "ee729b7ea0d2aec7",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "FPORT",
        "group": "5feaf463cea8b7d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "FPORT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2f5f9091b72c3925",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "FCOUNT",
        "group": "995257d6a097acca",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "FCOUNT",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "aa3c572db7147a70",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "CO2",
        "group": "ed3cbe798544614e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e1963f29efe3a781",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "HUM",
        "group": "46d5572703cbf3ac",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "HUM",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e9619db4f5d4577c",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "PAR",
        "group": "9007dcb3e653fa48",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "PAR",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f362bf176c1d187e",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "PM10",
        "group": "b5385990a45ef6c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "PM10",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4ee3da1bc83f73c4",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "PM2.5",
        "group": "3d17681d71dfe062",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "PM2.5",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "6864ebddd04d1e08",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "TEM",
        "group": "10b49361f83ca547",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "TEM",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bbd956d00ba83ac6",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "TSR",
        "group": "d96d9f6d217d3d0e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "TSR",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "462f3a22945b1d68",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "illumination",
        "group": "3ffff899a65eb857",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "illumination",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c346677a419150ac",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "pressure",
        "group": "2a59c9711170385c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "119b3c81ec14fc25",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "rain_gauge",
        "group": "ea59860132ee1c0f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "rain_gauge",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "8bf0cc967f23cc4e",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "rain_snow",
        "group": "3798ba694d0f2256",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "rain_snow",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d81053d8f3392afc",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "wind_direction_angle",
        "group": "d9df3be8c77fdbce",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "wind_direction_angle",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "7995dcc63f12a435",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "wind_speed",
        "group": "4a30995a89f2e2c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "wind_speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f78257ba6c9895cc",
        "type": "ui_chart",
        "z": "458092809af59117",
        "name": "wind_speed_level",
        "group": "e0cd486e20c48418",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "wind_speed_level",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "9c81963df3477029",
        "type": "ui_text",
        "z": "458092809af59117",
        "group": "22c759cbc881ba5c",
        "order": 0,
        "width": "6",
        "height": "4",
        "name": "wind_direction",
        "label": "wind_direction",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "d012949bab417f5b",
        "type": "mqtt-broker",
        "name": "气象站",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5feaf463cea8b7d8",
        "type": "ui_group",
        "name": "FPORT",
        "tab": "0399835b995a79c7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "995257d6a097acca",
        "type": "ui_group",
        "name": "FCOUNT",
        "tab": "0399835b995a79c7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed3cbe798544614e",
        "type": "ui_group",
        "name": "CO2",
        "tab": "0399835b995a79c7",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "46d5572703cbf3ac",
        "type": "ui_group",
        "name": "HUM",
        "tab": "0399835b995a79c7",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9007dcb3e653fa48",
        "type": "ui_group",
        "name": "PAR",
        "tab": "0399835b995a79c7",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5385990a45ef6c8",
        "type": "ui_group",
        "name": "PM10",
        "tab": "0399835b995a79c7",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d17681d71dfe062",
        "type": "ui_group",
        "name": "PM2.5",
        "tab": "0399835b995a79c7",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10b49361f83ca547",
        "type": "ui_group",
        "name": "TEM",
        "tab": "0399835b995a79c7",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d96d9f6d217d3d0e",
        "type": "ui_group",
        "name": "TSR",
        "tab": "0399835b995a79c7",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ffff899a65eb857",
        "type": "ui_group",
        "name": "illumination",
        "tab": "0399835b995a79c7",
        "order": 11,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a59c9711170385c",
        "type": "ui_group",
        "name": "pressure",
        "tab": "0399835b995a79c7",
        "order": 12,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea59860132ee1c0f",
        "type": "ui_group",
        "name": "rain_gauge",
        "tab": "0399835b995a79c7",
        "order": 13,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3798ba694d0f2256",
        "type": "ui_group",
        "name": "rain_snow",
        "tab": "0399835b995a79c7",
        "order": 14,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9df3be8c77fdbce",
        "type": "ui_group",
        "name": "wind_direction_angle",
        "tab": "0399835b995a79c7",
        "order": 16,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a30995a89f2e2c8",
        "type": "ui_group",
        "name": "wind_speed",
        "tab": "0399835b995a79c7",
        "order": 17,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0cd486e20c48418",
        "type": "ui_group",
        "name": "wind_speed_level",
        "tab": "0399835b995a79c7",
        "order": 18,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22c759cbc881ba5c",
        "type": "ui_group",
        "name": "wind_direction",
        "tab": "0399835b995a79c7",
        "order": 15,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0399835b995a79c7",
        "type": "ui_tab",
        "name": "Weather station",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]